In [1]:
import numpy as np
import pandas as pd
from datetime import datetime

In [2]:
from methods.divide_dataframe import divide_dataframe
from methods.df_categorical_compressed_and_indicatored import df_categorical_compressed

In [3]:
# {k:np.sum if k in {'col3','col4'} else k:np.average for k in df.columns if k not in {'col1','col2'}

In [4]:
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

In [5]:
large_credit_takers = [
    53123153,
    52175920,	
    53031443,	
    52423025,	
    51787828,
]

In [6]:
# dateparse = lambda x: datetime.strptime(x, '%Y-%m-%d')
df_bki = pd.read_csv('data/df_BKI_30k.csv', index_col=False, low_memory=False)

In [7]:
df_bki_large_credits = df_bki.loc[df_bki['application_id'].isin(large_credit_takers)]

In [8]:
# df_target = pd.read_csv('data/df_target_30k.csv', index_col=False, low_memory=False)

In [9]:
final_df = divide_dataframe(df_bki_large_credits)

d:\PYTHON_PROJECTS\MIPT-hackathon-Robofinance\working_with_datasets\methods\divide_dataframe.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_bki.drop(usd_loan_idx, inplace=True)
d:\PYTHON_PROJECTS\MIPT-hackathon-Robofinance\working_with_datasets\methods\divide_dataframe.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_bki.drop(columns=cols_to_drop, inplace=True)
d:\PYTHON_PROJECTS\MIPT-hackathon-Robofinance\working_with_datasets\methods\cols_to_datetime.py:62: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_dates[cols_for_datetime_format] = df_dates[cols_for_datetime_format].apply(pd.to_datetime)
d:\PYTHON_PROJECTS\MIPT-hackathon-Robofinance\working_with_datasets\methods\cols_to_datetime.py:64: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_dates['credit_duration'] = (df_dates['trade_close_dt'] - df_dates['trade_opened_dt']).dt.days
d:\PYTHON_PROJECTS\MIPT-hackathon-Robofinance\working_with_datasets\methods\cols_to_datetime.py:67: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_dates['negative_score'] = df_dates.apply(negative_scoring, axis=1)
d:\PYTHON_PROJECTS\MIPT-hackathon-Robofinance\working_with_datasets\methods\cols_to_datetime.py:68: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_dates['negative_score_to_categorical'] = df_dates.apply(negative_score_to_categorical, axis=1)
d:\PYTHON_PROJECTS\MIPT-hackathon-Robofinance\working_with_datasets\methods\cols_to_datetime.py:70: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_dates.drop(columns=cols_for_datetime_format, inplace=True)
d:\PYTHON_PROJECTS\MIPT-hackathon-Robofinance\working_with_datasets\methods\df_categorical_compressed_and_indicatored.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_categorical['trade_acct_type_compressed'] = df_categorical.apply(compress_trade_acct_type, axis=1)
d:\PYTHON_PROJECTS\MIPT-hackathon-Robofinance\working_with_datasets\methods\df_categorical_compressed_and_indicatored.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_categorical['loan_indicator_compressed'] = df_categorical.apply(compress_loan_indicator, axis=1)
d:\PYTHON_PROJECTS\MIPT-hackathon-Robofinance\working_with_datasets\methods\df_categorical_compressed_and_indicatored.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_categorical.fillna({'paymnt_condition_terms_frequency':99.0}, inplace=True)
d:\PYTHON_PROJECTS\MIPT-hackathon-Robofinance\working_with_datasets\methods\df_categorical_compressed_and_indicatored.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_categorical.drop(columns=['trade_acct_type1', 'loan_indicator'], axis=1, inplace=True)

In [10]:
del df_bki

In [11]:
final_df

,application_id,credit_duration_mean,credit_duration_sum,credit_duration_min,credit_duration_max,negative_score_to_categorical_no_overdue,negative_score_to_categorical_mild_overdue,negative_score_to_categorical_moderate_overdue,negative_score_to_categorical_severe_overdue,account_amt_credit_limit_sum,account_amt_credit_limit_min,account_amt_credit_limit_max,account_amt_credit_limit_mean,account_amt_ensured_amt_sum,account_amt_ensured_amt_min,account_amt_ensured_amt_max,account_amt_ensured_amt_mean,coborrower_solidary_num_sum,coborrower_solidary_num_min,coborrower_solidary_num_max,coborrower_solidary_num_mean,paymnt_condition_principal_terms_amt_sum,paymnt_condition_principal_terms_amt_min,paymnt_condition_principal_terms_amt_max,paymnt_condition_principal_terms_amt_mean,paymnt_condition_interest_terms_amt_sum,paymnt_condition_interest_terms_amt_min,paymnt_condition_interest_terms_amt_max,paymnt_condition_interest_terms_amt_mean,paymnt_condition_min_paymt_sum,paymnt_condition_min_paymt_min,paymnt_condition_min_paymt_max,paymnt_condition_min_paymt_mean,overall_val_credit_total_amt_sum,overall_val_credit_total_amt_min,overall_val_credit_total_amt_max,overall_val_credit_total_amt_mean,overall_val_credit_total_monetary_amt_sum,overall_val_credit_total_monetary_amt_min,overall_val_credit_total_monetary_amt_max,overall_val_credit_total_monetary_amt_mean,month_aver_paymt_aver_paymt_amt_sum,month_aver_paymt_aver_paymt_amt_min,month_aver_paymt_aver_paymt_amt_max,month_aver_paymt_aver_paymt_amt_mean,collat_insured_insur_limit_sum,collat_insured_insur_limit_min,collat_insured_insur_limit_max,collat_insured_insur_limit_mean,collat_repay_amt_sum,collat_repay_amt_min,collat_repay_amt_max,collat_repay_amt_mean,arrear_start_amt_outstanding_sum,arrear_start_amt_outstanding_min,arrear_start_amt_outstanding_max,arrear_start_amt_outstanding_mean,arrear_amt_outstanding_sum,arrear_amt_outstanding_min,arrear_amt_outstanding_max,arrear_amt_outstanding_mean,arrear_principal_outstanding_sum,arrear_principal_outstanding_min,arrear_principal_outstanding_max,arrear_principal_outstanding_mean,arrear_int_outstanding_sum,arrear_int_outstanding_min,arrear_int_outstanding_max,arrear_int_outstanding_mean,arrear_other_amt_outstanding_sum,arrear_other_amt_outstanding_min,arrear_other_amt_outstanding_max,arrear_other_amt_outstanding_mean,due_arrear_amt_outstanding_sum,due_arrear_amt_outstanding_min,due_arrear_amt_outstanding_max,due_arrear_amt_outstanding_mean,due_arrear_principal_outstanding_sum,due_arrear_principal_outstanding_min,due_arrear_principal_outstanding_max,due_arrear_principal_outstanding_mean,due_arrear_int_outstanding_sum,due_arrear_int_outstanding_min,due_arrear_int_outstanding_max,due_arrear_int_outstanding_mean,due_arrear_other_amtoutstanding_sum,due_arrear_other_amtoutstanding_min,due_arrear_other_amtoutstanding_max,due_arrear_other_amtoutstanding_mean,past_due_amt_past_due_sum,past_due_amt_past_due_min,past_due_amt_past_due_max,past_due_amt_past_due_mean,past_due_principal_amt_past_due_sum,past_due_principal_amt_past_due_min,past_due_principal_amt_past_due_max,past_due_principal_amt_past_due_mean,past_due_int_amt_past_due_sum,past_due_int_amt_past_due_min,past_due_int_amt_past_due_max,past_due_int_amt_past_due_mean,past_due_other_amt_past_due_sum,past_due_other_amt_past_due_min,past_due_other_amt_past_due_max,past_due_other_amt_past_due_mean,delay5_sum,delay5_min,delay5_max,delay5_mean,delay30_sum,delay30_min,delay30_max,delay30_mean,delay60_sum,delay60_min,delay60_max,delay60_mean,delay90_sum,delay90_min,delay90_max,delay90_mean,delay_more_sum,delay_more_min,delay_more_max,delay_more_mean,cred_max_overdue_sum,cred_max_overdue_min,cred_max_overdue_max,cred_max_overdue_mean,trade_owner_indic_1.0,trade_owner_indic_nan,trade_trade_type_code_1.0,trade_trade_type_code_nan,trade_loan_kind_code_1.0,trade_loan_kind_code_2.0,trade_loan_kind_code_3.0,trade_loan_kind_code_4.0,trade_loan_kind_code_5.0,trade_loan_kind_code_7.0,trade_loan_kind_code_99.0,trade_loan_kind_code_nan,trade_has_card_0.0,trade_has_card_1.0,trade_has_card_nan,trade_is_novation_0.0,trade_is_novation_1.0,trade_is_novation_nan,trade_is_money_source_0.0,trade_is_money_source_1.0,trade_is_money_source_nan,coborrower_has_solidary_0.0,coborrower_has_solidary_nan,coborrower_solidary_num_nan,paymnt_condition_terms_frequency_1.0,paymnt_condition_terms_frequency_2.0,paymnt_condition_terms_frequency_3.0,paymnt_condition_terms_frequency_7.0,paymnt_condition_terms_frequency_99.0,paymnt_condition_terms_frequency_nan,has_collaterals_0.0,has_collaterals_1.0,has_collaterals_nan,has_guarantees_0.0,has_guarantees_nan,has_indie_guarantees_0.0,has_indie_guarantees_nan,collat_insured_insur_sign_0.0,collat_insured_insur_sign_nan,collat_insured_has_franchise_nan,collat_insured_insur_end_reason_nan,colat_repaid_0.0,colat_repaid_nan,collat_repay_code_nan,legal_items_has_legal_dispute_nan,legal_items_court_act_effect_code_nan,hold_code_1.0,hold_code_3.0,hold_code_nan,arrear_sign_0.0,arrear_sign_1.0,arrear_sign_nan,arrear_last_payment_due_code_0.0,arrear_last_payment_due_code_1.0,arrear_last_payment_due_code_nan,arrear_unconfirm_grace_0.0,arrear_unconfirm_grace_nan,due_arrear_last_payment_due_code_0.0,due_arrear_last_payment_due_code_1.0,due_arrear_last_payment_due_code_nan,past_due_last_payment_due_code_0.0,past_due_last_payment_due_code_1.0,past_due_last_payment_due_code_nan,trade_acct_type_compressed_basic_needs,trade_acct_type_compressed_purpose_undefined,trade_acct_type_compressed_restructured_credits,trade_acct_type_compressed_vehicles,trade_acct_type_compressed_working_capital,trade_acct_type_compressed_nan,loan_indicator_compressed_mutual_agreement,loan_indicator_compressed_novation,loan_indicator_compressed_other,loan_indicator_compressed_proper_loan_closure,loan_indicator_compressed_nan,application_count
0,51787828,189.336570,58505.0,2.0,31324.0,283,26,0,0,8433654.31,0.0,1250000.0,27293.379644,0.0,NaN,NaN,NaN,0.0,NaN,NaN,NaN,220326.90,0.0,30000.0,2271.411340,158908.54,0.0,18480.00,3243.031429,0.00,NaN,NaN,NaN,105738.646,0.000,730.00,346.684085,2949117.53,0.0,775621.30,15440.405916,691358.66,0.0,115969.57,8751.375443,0.0,NaN,NaN,NaN,0.0,NaN,NaN,NaN,8309654.31,0.1,1250000.0,27155.733039,1544905.91,0.0,944585.02,5048.712124,1482974.01,0.0,944585.02,4846.320294,53121.90,0.0,15079.00,174.743092,10.00,0.0,10.00,0.032895,1541279.91,0.0,944585.02,4987.960874,1479348.01,0.0,944585.02,4850.321344,53121.90,0.0,15079.00,175.319802,10.00,0.0,10.00,0.033003,3626.00,0.0,3626.00,11.734628,3626.00,0.0,3626.00,12.812721,0.00,0.0,0.0,0.000000,0.00,0.0,0.00,0.000000,2,0,1,0.006472,1,0,1,0.003236,0,0,0,0.000000,0,0,0,0.000000,0,0,0,0.000000,35372.81,0.0,21998.00,114.475113,309,0,309,0,9,0,295,0,4,1,0,0,246,63,0,309,0,0,212,92,5,281,28,309,3,9,3,11,283,0,309,0,0,309,0,309,0,0,309,309,309,212,97,309,309,309,0,0,309,283,26,0,5,296,8,10,299,5,296,8,5,296,8,6,302,0,0,1,0,1,0,2,277,29,309
1,52175920,702.201571,268241.0,5.0,88497.0,340,35,5,3,7783904.30,0.0,1406000.0,20323.509922,0.0,NaN,NaN,NaN,0.0,NaN,NaN,NaN,287568.47,0.0,40000.0,2376.598926,125672.74,0.0,14260.00,1551.515309,17056.67,17056.67,17056.67,17056.670000,127175.146,0.000,434.88,334.671437,3843385.32,0.0,503546.00,17876.210791,791935.30,0.0,59335.51,6886.393913,0.0,NaN,NaN,NaN,0.0,NaN,NaN,NaN,7502289.86,0.1,1406000.0,19588.224178,1034850.00,0.0,240943.05,2701.958225,902316.65,0.0,226536.14,2355.918146,115652.59,0.0,58404.15,308.406907,1827.46,0.0,1077.61,4.873227,862911.53,0.0,240943.05,2253.032715,758221.58,0.0,226536.14,2011.197825,92253.83,0.0,58404.15,250.010379,1302.82,0.0,1077.61,3.530678,171938.47,0.0,30060.00,448.925509,144095.07,0.0,30000.00,394.781014,23398.76,0.0,8434.0,65.542745,524.64,0.0,296.27,1.469580,176,0,13,0.459530,170,0,12,0.443864,36,0,4,0.093995,10,0,2,0.026110,12,0,2,0.031332,2409218.38,0.0,57962.28,6290.387415,381,2,383,0,3,1,366,2,7,3,1,0,315,68,0,367,16,0,262,113,8,341,42,383,1,7,5,17,353,0,382,1,0,383,0,383,0,1,382,383,383,263,120,383,383,383,0,4,379,347,36,0,6,369,8,15,368,6,369,8,6,369,8,4,370,7,0,2,0,3,11,6,323,40,383
2,52423025,326.568690,102216.0,7.0,87384.0,299,12,2,0,4871435.22,250.0,598000.0,15563.690799,0.0,NaN,NaN,NaN,0.0,NaN,NaN,NaN,143557.81,0.0,60000.0,1993.858472,33784.19,0.0,7656.00,1206.578214,300.00,300.00,300.00,300.000000,140787.729,0.000,9207.00,449.801051,1201502.00,580.0,84799.18,10922.745455,173827.79,0.0,37440.00,2448.278732,0.0,NaN,NaN,NaN,0.0,NaN,NaN,NaN,4869835.22,250.0,598000.0,15558.578978,371345.32,0.0,76912.60,1186.406773,308773.01,0.0,74907.54,986.495240,45774.47,0.0,15689.20,147.184791,385.34,0.0,304.99,1.239035,300963.53,0.0,76912.60,961.544824,271866.76,0.0,74907.54,874.169646,27709.27,0.0,8297.21,89.674013,75.00,0.0,75.00,0.242718,70381.79,0.0,33800.44,224.861949,36906.25,0.0,17806.25,121.402138,18065.20,0.0,15689.2,59.818543,310.34,0.0,304.99,1.027616,104,0,13,0.332268,44,0,6,0.140575,15,0,5,0.047923,8,0,2,0.025559,21,0,19,0.067093,1105630.75,0.0,207750.03,3532.366613,313,0,313,0,7,0,304,1,0,0,1,0,278,35,0,313,0,0,241,69,3,287,26,313,0,2,2,2,307,0,313,0,0,313,0,313,0,0,313,313,313,241,72,313,313,313,1,0,312,300,13,0,1,310,2,5,308,1,310,2,1,310,2,6,307,0,0,0,0,0,0,0,300,13,313
3,53031443,428.063584,148110.0,0.0,87531.0,335,11,0,0,10281161.49,0.0,1000000.0,29714.339566,0.0,NaN,NaN,NaN,0.0,NaN,NaN,NaN,233176.51,0.0,21000.0,4399.556792,34767.44,0.0,4451.67,1158.914667,100.00,0.00,100.00,33.333333,121370.327,6.709,817.60,360.149338,3348808.89,900.0,938219.10,26162.569453,49795.00,0.0,17980.00,939.528302,0.0,NaN,NaN,NaN,0.0,NaN,NaN,NaN,10411230.64,200.0,1000000.0,30090.261965,1346925.16,0.0,666494.10,3892.847283,1230088.18,0.0,663478.45,3555.168150,3804.35,0.0,3015.65,11.091399,0.00,0.0,0.00,0.000000,1332377.21,0.0,666494.10,3850.801185,1221088.18,0.0,663478.45,3529.156590,3804.35,0.0,3015.65,11.091399,0.00,0.0,0.00,0.000000,14547.95,0.0,14547.95,42.046098,9000.00,0.0,9000.00,26.315789,0.00,0.0,0.0,0.000000,0.00,0.0,0.00,0.000000,37,0,11,0.106936,23,0,3,0.066474,6,0,2,0.017341,4,0,3,0.011561,14,0,4,0.040462,545464.24,0.0,30000.00,1576.486243,346,0,346,0,9,0,332,0,5,0,0,0,299,47,0,337,9,0,293,53,0,330,16,346,0,0,3,16,327,0,346,0,0,346,0,346,0,0,346,346,346,0,346,346,346,346,0,1,345,339,7,0,1,343,2,4,342,1,343,2,1,343,2,13,332,0,1,0,0,0,0,0,338,8,346
4,53123153,251.596741,123534.0,0.0,88427.0,480,6,6,0,8968652.19,0.0,500000.0,18228.967866,0.0,NaN,NaN,NaN,0.0,NaN,NaN,NaN,56595.72,0.0,30000.0,1572.103333,51994.00,0.0,45000.00,2079.760000,0.00,NaN,NaN,NaN,241245.640,0.000,9207.00,491.335316,2737459.50,595.2,1270513.00,28221.231959,212498.80,0.0,74949.00,6071.394286,0.0,NaN,NaN,NaN,0.0,NaN,NaN,NaN,8924980.19,0.0,500000.0,18140.203638,507711.57,0.0,131998.59,1031.934085,288311.73,0.0,129412.01,585.999451,195650.37,0.0,45000.00,400.103006,2885.29,0.0,2586.58,5.900389,150615.09,0.0,131998.59,306.128232,129412.01,0.0,129412.01,266.828887,0.00,0.0,0.00,0.000000,2586.58,0.0,2586.58,5.366349,357096.48,0.0,75000.00,725.805854,158899.72,0.0,30000.00,323.624684,195650.37,0.0,45000.0,400.922889,298.71,0.0,200.08,0.612111,48,0,9,0.097561,115,0,18,0.233740,50,0,9,0.101626,18,0,2,0.036585,17,0,5,0.034553,2841729.17,0.0,57462.95,5775.872297,490,2,492,0,2,0,485,0,5,0,0,0,467,25,0,489,3,0,456,34,2,478,14,492,0,0,1,4,487,0,492,0,0,492,0,492,0,0,492,492,492,0,492,492,492,492,0,6,486,481,11,0,4,487,1,1,491,4,487,1,4,487,1,3,488,0,0,1,0,0,0,0,475,17,492

In [1]:
# df_bki[(df_bki['application_id'] == 51871261)]['reporting_dt'].value_counts()

In [ ]:
# df_target['target'].value_counts(dropna=False)

In [ ]:
# df_bki['client_id'].value_counts()

In [ ]:
# df_bki['application_id'].value_counts()

In [ ]:
df_test = pd.get_dummies(df_bki.loc[(df_bki['application_id'] == 53123153) | (df_bki['application_id'] == 52175920)][['application_id', 'trade_acct_type1', 'trade_loan_kind_code']], columns=['trade_acct_type1', 'trade_loan_kind_code'], dtype=int)

In [ ]:
# df_test

In [ ]:
df_test.groupby(['application_id']).sum()

,trade_acct_type1_1.0,trade_acct_type1_4.7,trade_acct_type1_8.0,trade_acct_type1_9.0,trade_acct_type1_14.0,trade_acct_type1_15.0,trade_acct_type1_19.0,trade_acct_type1_99.0,trade_loan_kind_code_1.0,trade_loan_kind_code_2.0,trade_loan_kind_code_3.0,trade_loan_kind_code_4.0,trade_loan_kind_code_5.0,trade_loan_kind_code_7.0,trade_loan_kind_code_99.0
application_id,,,,,,,,,,,,,,,
52175920,2,1,6,1,1,2,311,59,3,1,366,2,7,3,1
53123153,1,0,0,0,1,2,476,12,2,0,485,0,5,0,0

In [ ]:
# df_bki['trade_opened_dt'].value_counts().sort_index(ascending=True)

In [ ]:
# df_bki['reporting_dt'].value_counts().sort_index(ascending=True)

reporting_dt
2023-07-19      959
2023-07-20     5360
2023-07-21     5230
2023-07-22     5309
2023-07-23     5747
2023-07-24     6510
2023-07-25     5019
2023-07-26     4607
2023-07-28     5420
2023-07-29     6254
2023-07-30     6039
2023-07-31     7319
2023-08-01     6102
2023-08-02     5139
2023-08-03     5860
2023-08-04     5151
2023-08-05     4793
2023-08-06     6231
2023-08-07     6924
2023-08-08     5785
2023-08-09     5996
2023-08-10     5671
2023-08-11     5203
2023-08-12     6768
2023-08-13     7343
2023-08-14     5993
2023-08-15     6748
2023-08-16     6627
2023-08-17     8356
2023-08-18    10381
2023-08-19    10043
2023-08-20    11882
2023-08-21     8321
2023-08-22     8267
2023-08-23    13974
2023-08-24    10790
2023-08-25    10870
2023-08-26    10682
2023-08-27    12030
2023-08-28     9679
2023-08-29    11101
2023-08-30    12693
2023-08-31    11260
2023-09-01    10007
2023-09-02     9573
2023-09-03     7918
2023-09-04    10764
2023-09-05    10460
2023-09-06     9479
2023-09-07     9210
2023-09-08     9545
2023-09-09     9095
2023-09-10     9234
2023-09-11    10800
2023-09-12    10477
2023-09-13    10869
2023-09-14     8731
2023-09-15     9459
2023-09-16     8906
2023-09-17     6372
Name: count, dtype: int64

In [ ]:
# df_bki[(df_bki['application_id'] == 53123153)]['trade_opened_dt'].value_counts().sort_index(ascending=True)

In [ ]:
# df_bki[(df_bki['application_id'] == 53123153)]['trade_close_dt'].value_counts().sort_index(ascending=True)

In [ ]:
df_bki[(df_bki['application_id'] == 53123153)][['trade_opened_dt', 'trade_close_dt']].sort_values('trade_opened_dt').head()

       trade_opened_dt trade_close_dt
282915      2013-04-11     2018-08-08
246354      2013-12-25     2018-08-06
257865      2014-05-06     2018-05-06
253527      2014-07-04            NaN
253487      2018-05-15     2018-06-04

In [ ]:
df_test1 = pd.pivot_table(df_bki[['application_id', 'account_amt_credit_limit', 'trade_loan_kind_code']], values=['account_amt_credit_limit'], index=['application_id'], columns=['trade_loan_kind_code'], aggfunc='sum')

In [ ]:
df_test1 = df_test1.fillna(0.0)

In [ ]:
df_test1.head()

                     account_amt_credit_limit                           \
trade_loan_kind_code                     1.0  2.0        3.0      4.0
application_id
51534101                            387063.66  0.0  110394.95      0.0
51534210                              5300.00  0.0   88329.00      0.0
51534377                                 0.00  0.0   17000.00      0.0
51534467                            119726.58  0.0       0.00  15000.0
51534573                            497962.00  0.0  211845.38  16856.0


trade_loan_kind_code      5.0  6.0       7.0  99.0
application_id
51534101                   0.0  0.0       0.0  0.0
51534210                   0.0  0.0       0.0  0.0
51534377               56000.0  0.0       0.0  0.0
51534467               15000.0  0.0       0.0  0.0
51534573              188000.0  0.0  190000.0  0.0

In [ ]:
df_test1.loc[53123153]

                          trade_loan_kind_code
account_amt_credit_limit  1.0                      799000.00
                          2.0                           0.00
                          3.0                     7899652.09
                          4.0                           0.00
                          5.0                      270000.10
                          6.0                           0.00
                          7.0                           0.00
                          99.0                          0.00
Name: 53123153, dtype: float64

In [ ]:
df_test2 = pd.pivot_table(df_bki[['application_id', 'account_amt_credit_limit', 'trade_loan_kind_code']], values=['account_amt_credit_limit'], index=['application_id'], columns=['trade_loan_kind_code'], aggfunc='mean')

In [ ]:
df_test2 = df_test2.fillna(0.0)

In [ ]:
df_test2.head()

                     account_amt_credit_limit                              \
trade_loan_kind_code                     1.0  2.0           3.0      4.0
application_id
51534101                        129021.220000  0.0   7885.353571      0.0
51534210                          5300.000000  0.0   5520.562500      0.0
51534377                             0.000000  0.0   5666.666667      0.0
51534467                         59863.290000  0.0      0.000000  15000.0
51534573                         45269.272727  0.0  30263.625714  16856.0


trade_loan_kind_code     5.0  6.0           7.0  99.0
application_id
51534101                  0.0  0.0      0.000000  0.0
51534210                  0.0  0.0      0.000000  0.0
51534377              28000.0  0.0      0.000000  0.0
51534467              15000.0  0.0      0.000000  0.0
51534573              37600.0  0.0  63333.333333  0.0