In [1]:
import numpy as np
import pandas as pd

In [2]:
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

In [3]:
df_bki = pd.read_csv('data/df_BKI_30k.csv', index_col=False, low_memory=False)

In [4]:
df_target = pd.read_csv('data/df_target_30k.csv', index_col=False, low_memory=False)

In [5]:
df_bki.head()

,application_id,client_id,equifax_id,reporting_dt,account_uid,fund_date,trade_owner_indic,trade_opened_dt,trade_trade_type_code,trade_loan_kind_code,trade_acct_type1,trade_is_consumer_loan,trade_has_card,trade_is_novation,trade_is_money_source,trade_close_dt,account_amt_credit_limit,account_amt_currency_code,account_amt_ensured_amt,coborrower_has_solidary,coborrower_solidary_num,paymnt_condition_principal_terms_amt,paymnt_condition_principal_terms_amt_dt,paymnt_condition_interest_terms_amt,paymnt_condition_interest_terms_amt_dt,paymnt_condition_terms_frequency,paymnt_condition_min_paymt,paymnt_condition_grace_start_dt,paymnt_condition_grace_end_dt,paymnt_condition_interest_payment_due_date,overall_val_credit_total_amt,overall_val_credit_total_monetary_amt,overall_val_credit_total_amt_date,month_aver_paymt_aver_paymt_amt,month_aver_paymt_calc_date,has_collaterals,has_guarantees,has_indie_guarantees,collat_insured_insur_sign,collat_insured_insur_limit,collat_insured_currency_code,collat_insured_has_franchise,collat_insured_insur_start_dt,collat_insured_insur_end_dt,collat_insured_insur_fact_end_dt,collat_insured_insur_end_reason,colat_repaid,collat_repay_code,collat_repay_dt,collat_repay_amt,loan_indicator,loan_indicator_dt,legal_items_has_legal_dispute,legal_items_court_act_dt,legal_items_court_act_effect_code,hold_code,hold_dt,file_since_dt,last_updated_dt,last_uploaded_dt,arrear_sign,arrear_start_amt_outstanding,arrear_last_payment_due_code,arrear_amt_outstanding,arrear_principal_outstanding,arrear_int_outstanding,arrear_other_amt_outstanding,arrear_calc_date,arrear_unconfirm_grace,due_arrear_start_dt,due_arrear_last_payment_due_code,due_arrear_amt_outstanding,due_arrear_principal_outstanding,due_arrear_int_outstanding,due_arrear_other_amtoutstanding,due_arrear_calc_date,past_due_dt,past_due_last_payment_due_code,past_due_amt_past_due,past_due_principal_amt_past_due,past_due_int_amt_past_due,past_due_other_amt_past_due,past_due_calc_date,past_due_principal_missed_date,past_due_int_missed_date,delay5,delay30,delay60,delay90,delay_more,cred_max_overdue,attr_value
0,51859026,15984285,9344571,2023-08-01,902086582865039990,2014-07-11,1.0,2014-07-11,1.0,1.0,15.0,1.0,0.0,0.0,0.0,2017-07-11,240000.0,RUB,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,28.060,NaN,2017-09-20,NaN,NaN,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,1.0,2017-09-20,NaN,NaN,NaN,NaN,NaN,2014-07-11,2017-09-20,2017-10-01,0.0,240000.00,1.0,0.00,0.00,0.00,0.00,2017-09-20,NaN,NaN,1.0,0.00,0.00,0.00,0.00,2017-09-20,NaN,1.0,0.0,0.0,0.0,0.0,2017-09-20,NaN,NaN,2,2,0,1,16,113333.27,CCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCC...
1,51859359,15984353,9344781,2023-08-01,654289381013228862,2015-02-13,1.0,2015-02-13,1.0,1.0,15.0,1.0,0.0,0.0,0.0,2017-02-13,126400.0,RUB,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,29.810,NaN,2020-10-26,NaN,NaN,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,1.0,2019-09-01,1.0,3.0,2020-10-26,2015-02-13,2020-10-26,2020-10-31,0.0,126400.00,1.0,0.00,0.00,0.00,0.00,2020-10-26,NaN,NaN,1.0,0.00,0.00,0.00,0.00,2020-10-26,NaN,1.0,0.0,0.0,0.0,0.0,2020-10-26,NaN,NaN,0,1,0,0,13,77541.87,SSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSAAAAAAAAAAAA...
2,51859359,15984353,9344781,2023-08-01,741680445545450197,2012-03-21,1.0,2012-03-21,1.0,5.0,19.0,1.0,0.0,0.0,1.0,2100-01-01,90000.0,RUB,NaN,NaN,NaN,845.48,2023-07-31,0.00,NaN,3.0,NaN,NaN,NaN,NaN,0.100,101457.3,2021-06-15,845.0,2023-06-30,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2021-06-15,2023-06-30,2023-07-07,1.0,90000.00,0.0,101457.30,101457.30,0.00,0.00,2023-06-30,0.0,NaN,0.0,0.00,NaN,NaN,NaN,2023-06-30,2017-02-20,0.0,101457.3,101457.3,0.0,0.0,2023-06-30,2017-02-19,NaN,0,0,0,0,1,101457.30,--543100000AAAAAAAA98765432-------------------...
3,51859863,15984478,9345100,2023-08-01,634072954671362970,2023-05-10,1.0,2023-05-10,1.0,7.0,99.0,1.0,1.0,0.0,1.0,2033-05-10,60000.0,RUB,NaN,0.0,NaN,0.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000,0.0,2023-07-27,3119.0,2023-07-27,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2023-05-10,2023-07-27,2023-07-29,1.0,59599.00,NaN,59551.14,59551.14,0.00,0.00,2023-07-27,0.0,2023-05-10,NaN,59551.14,59551.14,0.00,0.00,2023-07-27,NaN,NaN,0.0,NaN,NaN,NaN,2023-07-27,NaN,NaN,0,0,0,0,0,0.00,-000
4,51860912,15984719,9345907,2023-08-01,446357239045684673,2022-12-11,1.0,2022-12-11,1.0,5.0,99.0,1.0,1.0,0.0,1.0,2260-12-31,39000.0,RUB,NaN,0.0,NaN,1198.55,2023-08-11,1801.45,2023-08-11,3.0,NaN,NaN,NaN,NaN,34.443,656488.0,2022-12-11,3000.0,2023-07-16,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2022-12-11,2023-07-18,2023-07-21,1.0,7822.94,1.0,40167.87,32789.84,1769.89,5608.14,2023-07-16,0.0,2023-01-16,1.0,40167.87,32789.84,1769.89,5608.14,2023-07-16,NaN,1.0,0.0,NaN,NaN,NaN,2023-07-16,NaN,NaN,0,2,0,0,0,1195.90,-22020000

In [ ]:
df_bki.info()

In [7]:
columns_wo_ids_and_dates = ['trade_owner_indic', 'trade_trade_type_code', 'trade_loan_kind_code', 'trade_acct_type1','trade_is_consumer_loan', 'trade_has_card', 'trade_is_novation','trade_is_money_source', 'account_amt_currency_code', 'coborrower_has_solidary', 'coborrower_solidary_num', 'paymnt_condition_terms_frequency', 'has_collaterals', 'has_guarantees','has_indie_guarantees', 'collat_insured_insur_sign', 'collat_insured_currency_code','collat_insured_has_franchise','collat_insured_insur_end_reason', 'colat_repaid', 'collat_repay_code', 'loan_indicator','legal_items_has_legal_dispute','legal_items_court_act_effect_code','arrear_sign', 'arrear_last_payment_due_code',  'arrear_unconfirm_grace', 'due_arrear_last_payment_due_code', 'past_due_last_payment_due_code']

In [ ]:
for col in df_bki[columns_wo_ids_and_dates]:
    print('-------------------------')
    print(f'{col}:')
    print(df_bki[col].value_counts(dropna=False))

In [9]:
df_target['target'].value_counts(dropna=False)

target
0    23605
1     6395
Name: count, dtype: int64

In [ ]:
df_bki['client_id'].value_counts()

In [ ]:
df_bki['application_id'].value_counts()

In [40]:
df_test = pd.get_dummies(df_bki.loc[(df_bki['application_id'] == 53123153) | (df_bki['application_id'] == 52175920)][['application_id', 'trade_acct_type1', 'trade_loan_kind_code']], columns=['trade_acct_type1', 'trade_loan_kind_code'], dtype=int)

In [41]:
df_test.groupby(['application_id']).sum()

,trade_acct_type1_1.0,trade_acct_type1_4.7,trade_acct_type1_8.0,trade_acct_type1_9.0,trade_acct_type1_14.0,trade_acct_type1_15.0,trade_acct_type1_19.0,trade_acct_type1_99.0,trade_loan_kind_code_1.0,trade_loan_kind_code_2.0,trade_loan_kind_code_3.0,trade_loan_kind_code_4.0,trade_loan_kind_code_5.0,trade_loan_kind_code_7.0,trade_loan_kind_code_99.0
application_id,,,,,,,,,,,,,,,
52175920,2,1,6,1,1,2,311,59,3,1,366,2,7,3,1
53123153,1,0,0,0,1,2,476,12,2,0,485,0,5,0,0