In [12]:
import numpy as np
import pandas as pd
from datetime import datetime

In [13]:
from methods.divide_dataframe import divide_dataframe
from methods.df_categorical_compressed import df_categorical_compressed

In [14]:
# {k:np.sum if k in {'col3','col4'} else k:np.average for k in df.columns if k not in {'col1','col2'}

In [15]:
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

In [16]:
# dateparse = lambda x: datetime.strptime(x, '%Y-%m-%d')
df_bki = pd.read_csv('data/df_BKI_30k.csv', index_col=False, low_memory=False)

In [17]:
# df_target = pd.read_csv('data/df_target_30k.csv', index_col=False, low_memory=False)

In [18]:
df_dates, df_continuous, df_categorical, df_application_id = divide_dataframe(df_bki)

In [19]:
del df_bki

In [20]:
df_categorical = df_categorical_compressed(df_categorical)

In [1]:
# df_bki[(df_bki['application_id'] == 51871261)]['reporting_dt'].value_counts()

In [ ]:
# df_target['target'].value_counts(dropna=False)

In [ ]:
# df_bki['client_id'].value_counts()

In [ ]:
# df_bki['application_id'].value_counts()

In [ ]:
df_test = pd.get_dummies(df_bki.loc[(df_bki['application_id'] == 53123153) | (df_bki['application_id'] == 52175920)][['application_id', 'trade_acct_type1', 'trade_loan_kind_code']], columns=['trade_acct_type1', 'trade_loan_kind_code'], dtype=int)

In [ ]:
# df_test

In [ ]:
df_test.groupby(['application_id']).sum()

,trade_acct_type1_1.0,trade_acct_type1_4.7,trade_acct_type1_8.0,trade_acct_type1_9.0,trade_acct_type1_14.0,trade_acct_type1_15.0,trade_acct_type1_19.0,trade_acct_type1_99.0,trade_loan_kind_code_1.0,trade_loan_kind_code_2.0,trade_loan_kind_code_3.0,trade_loan_kind_code_4.0,trade_loan_kind_code_5.0,trade_loan_kind_code_7.0,trade_loan_kind_code_99.0
application_id,,,,,,,,,,,,,,,
52175920,2,1,6,1,1,2,311,59,3,1,366,2,7,3,1
53123153,1,0,0,0,1,2,476,12,2,0,485,0,5,0,0

In [ ]:
# df_bki['trade_opened_dt'].value_counts().sort_index(ascending=True)

In [ ]:
df_bki['reporting_dt'].value_counts().sort_index(ascending=True)

reporting_dt
2023-07-19      959
2023-07-20     5360
2023-07-21     5230
2023-07-22     5309
2023-07-23     5747
2023-07-24     6510
2023-07-25     5019
2023-07-26     4607
2023-07-28     5420
2023-07-29     6254
2023-07-30     6039
2023-07-31     7319
2023-08-01     6102
2023-08-02     5139
2023-08-03     5860
2023-08-04     5151
2023-08-05     4793
2023-08-06     6231
2023-08-07     6924
2023-08-08     5785
2023-08-09     5996
2023-08-10     5671
2023-08-11     5203
2023-08-12     6768
2023-08-13     7343
2023-08-14     5993
2023-08-15     6748
2023-08-16     6627
2023-08-17     8356
2023-08-18    10381
2023-08-19    10043
2023-08-20    11882
2023-08-21     8321
2023-08-22     8267
2023-08-23    13974
2023-08-24    10790
2023-08-25    10870
2023-08-26    10682
2023-08-27    12030
2023-08-28     9679
2023-08-29    11101
2023-08-30    12693
2023-08-31    11260
2023-09-01    10007
2023-09-02     9573
2023-09-03     7918
2023-09-04    10764
2023-09-05    10460
2023-09-06     9479
2023-09-07     9210
2023-09-08     9545
2023-09-09     9095
2023-09-10     9234
2023-09-11    10800
2023-09-12    10477
2023-09-13    10869
2023-09-14     8731
2023-09-15     9459
2023-09-16     8906
2023-09-17     6372
Name: count, dtype: int64

In [ ]:
# df_bki[(df_bki['application_id'] == 53123153)]['trade_opened_dt'].value_counts().sort_index(ascending=True)

In [ ]:
# df_bki[(df_bki['application_id'] == 53123153)]['trade_close_dt'].value_counts().sort_index(ascending=True)

In [ ]:
df_bki[(df_bki['application_id'] == 53123153)][['trade_opened_dt', 'trade_close_dt']].sort_values('trade_opened_dt').head()

       trade_opened_dt trade_close_dt
282915      2013-04-11     2018-08-08
246354      2013-12-25     2018-08-06
257865      2014-05-06     2018-05-06
253527      2014-07-04            NaN
253487      2018-05-15     2018-06-04

In [ ]:
df_test1 = pd.pivot_table(df_bki[['application_id', 'account_amt_credit_limit', 'trade_loan_kind_code']], values=['account_amt_credit_limit'], index=['application_id'], columns=['trade_loan_kind_code'], aggfunc='sum')

In [ ]:
df_test1 = df_test1.fillna(0.0)

In [ ]:
df_test1.head()

                     account_amt_credit_limit                           \
trade_loan_kind_code                     1.0  2.0        3.0      4.0
application_id
51534101                            387063.66  0.0  110394.95      0.0
51534210                              5300.00  0.0   88329.00      0.0
51534377                                 0.00  0.0   17000.00      0.0
51534467                            119726.58  0.0       0.00  15000.0
51534573                            497962.00  0.0  211845.38  16856.0


trade_loan_kind_code      5.0  6.0       7.0  99.0
application_id
51534101                   0.0  0.0       0.0  0.0
51534210                   0.0  0.0       0.0  0.0
51534377               56000.0  0.0       0.0  0.0
51534467               15000.0  0.0       0.0  0.0
51534573              188000.0  0.0  190000.0  0.0

In [ ]:
df_test1.loc[53123153]

                          trade_loan_kind_code
account_amt_credit_limit  1.0                      799000.00
                          2.0                           0.00
                          3.0                     7899652.09
                          4.0                           0.00
                          5.0                      270000.10
                          6.0                           0.00
                          7.0                           0.00
                          99.0                          0.00
Name: 53123153, dtype: float64

In [ ]:
df_test2 = pd.pivot_table(df_bki[['application_id', 'account_amt_credit_limit', 'trade_loan_kind_code']], values=['account_amt_credit_limit'], index=['application_id'], columns=['trade_loan_kind_code'], aggfunc='mean')

In [ ]:
df_test2 = df_test2.fillna(0.0)

In [ ]:
df_test2.head()

                     account_amt_credit_limit                              \
trade_loan_kind_code                     1.0  2.0           3.0      4.0
application_id
51534101                        129021.220000  0.0   7885.353571      0.0
51534210                          5300.000000  0.0   5520.562500      0.0
51534377                             0.000000  0.0   5666.666667      0.0
51534467                         59863.290000  0.0      0.000000  15000.0
51534573                         45269.272727  0.0  30263.625714  16856.0


trade_loan_kind_code     5.0  6.0           7.0  99.0
application_id
51534101                  0.0  0.0      0.000000  0.0
51534210                  0.0  0.0      0.000000  0.0
51534377              28000.0  0.0      0.000000  0.0
51534467              15000.0  0.0      0.000000  0.0
51534573              37600.0  0.0  63333.333333  0.0