In [1]:
import numpy as np
import pandas as pd
from datetime import datetime

In [2]:
from methods.divide_dataframe import divide_dataframe
from methods.df_categorical_compressed_and_indicatored import df_categorical_compressed

In [3]:
# {k:np.sum if k in {'col3','col4'} else k:np.average for k in df.columns if k not in {'col1','col2'}

In [4]:
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

In [5]:
# dateparse = lambda x: datetime.strptime(x, '%Y-%m-%d')
df_bki = pd.read_csv('data/df_BKI_30k.csv', index_col=False, low_memory=False)

In [6]:
# df_target = pd.read_csv('data/df_target_30k.csv', index_col=False, low_memory=False)

In [7]:
df_dates, df_continuous, df_categorical, df_application_id = divide_dataframe(df_bki)

d:\PYTHON_PROJECTS\MIPT-hackathon-Robofinance\working_with_datasets\methods\df_categorical_compressed_and_indicatored.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_categorical['trade_acct_type_compressed'] = df_categorical.apply(compress_trade_acct_type, axis=1)
d:\PYTHON_PROJECTS\MIPT-hackathon-Robofinance\working_with_datasets\methods\df_categorical_compressed_and_indicatored.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_categorical['loan_indicator_compressed'] = df_categorical.apply(compress_loan_indicator, axis=1)
d:\PYTHON_PROJECTS\MIPT-hackathon-Robofinance\working_with_datasets\methods\df_categorical_compressed_and_indicatored.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_categorical.fillna({'paymnt_condition_terms_frequency':99.0}, inplace=True)
d:\PYTHON_PROJECTS\MIPT-hackathon-Robofinance\working_with_datasets\methods\df_categorical_compressed_and_indicatored.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_categorical.drop(columns=['trade_acct_type1', 'loan_indicator'], axis=1, inplace=True)

In [8]:
del df_bki

In [9]:
df_categorical.head()

,application_id,trade_owner_indic_1.0,trade_owner_indic_2.0,trade_owner_indic_4.0,trade_owner_indic_99.0,trade_owner_indic_nan,trade_trade_type_code_1.0,trade_trade_type_code_2.0,trade_trade_type_code_4.0,trade_trade_type_code_5.0,trade_trade_type_code_nan,trade_loan_kind_code_1.0,trade_loan_kind_code_2.0,trade_loan_kind_code_3.0,trade_loan_kind_code_4.0,trade_loan_kind_code_5.0,trade_loan_kind_code_6.0,trade_loan_kind_code_7.0,trade_loan_kind_code_99.0,trade_loan_kind_code_nan,trade_has_card_0.0,trade_has_card_1.0,trade_has_card_nan,trade_is_novation_0.0,trade_is_novation_1.0,trade_is_novation_nan,trade_is_money_source_0.0,trade_is_money_source_1.0,trade_is_money_source_nan,coborrower_has_solidary_0.0,coborrower_has_solidary_1.0,coborrower_has_solidary_nan,coborrower_solidary_num_1.0,coborrower_solidary_num_2.0,coborrower_solidary_num_3.0,coborrower_solidary_num_4.0,coborrower_solidary_num_5.0,coborrower_solidary_num_nan,paymnt_condition_terms_frequency_1.0,paymnt_condition_terms_frequency_2.0,paymnt_condition_terms_frequency_3.0,paymnt_condition_terms_frequency_7.0,paymnt_condition_terms_frequency_99.0,paymnt_condition_terms_frequency_nan,has_collaterals_0.0,has_collaterals_1.0,has_collaterals_nan,has_guarantees_0.0,has_guarantees_1.0,has_guarantees_nan,has_indie_guarantees_0.0,has_indie_guarantees_1.0,has_indie_guarantees_nan,collat_insured_insur_sign_0.0,collat_insured_insur_sign_1.0,collat_insured_insur_sign_nan,collat_insured_has_franchise_0.0,collat_insured_has_franchise_1.0,collat_insured_has_franchise_nan,collat_insured_insur_end_reason_1.0,collat_insured_insur_end_reason_99.0,collat_insured_insur_end_reason_nan,colat_repaid_0.0,colat_repaid_1.0,colat_repaid_nan,collat_repay_code_2.0,collat_repay_code_nan,legal_items_has_legal_dispute_0.0,legal_items_has_legal_dispute_1.0,legal_items_has_legal_dispute_nan,legal_items_court_act_effect_code_0.0,legal_items_court_act_effect_code_1.0,legal_items_court_act_effect_code_nan,hold_code_1.0,hold_code_3.0,hold_code_nan,arrear_sign_0.0,arrear_sign_1.0,arrear_sign_nan,arrear_last_payment_due_code_0.0,arrear_last_payment_due_code_1.0,arrear_last_payment_due_code_nan,arrear_unconfirm_grace_0.0,arrear_unconfirm_grace_1.0,arrear_unconfirm_grace_nan,due_arrear_last_payment_due_code_0.0,due_arrear_last_payment_due_code_1.0,due_arrear_last_payment_due_code_nan,past_due_last_payment_due_code_0.0,past_due_last_payment_due_code_1.0,past_due_last_payment_due_code_nan,trade_acct_type_compressed_basic_needs,trade_acct_type_compressed_purpose_undefined,trade_acct_type_compressed_real_estate,trade_acct_type_compressed_restructured_credits,trade_acct_type_compressed_vehicles,trade_acct_type_compressed_working_capital,trade_acct_type_compressed_nan,loan_indicator_compressed_forced_loan_closure,loan_indicator_compressed_mutual_agreement,loan_indicator_compressed_novation,loan_indicator_compressed_other,loan_indicator_compressed_proper_loan_closure,loan_indicator_compressed_unfulfilled_loan,loan_indicator_compressed_nan
0,51534101,17,0,0,0,0,17,0,0,0,0,3,0,14,0,0,0,0,0,0,17,0,0,17,0,0,0,17,0,12,0,5,0,0,0,0,0,17,0,0,3,1,13,0,17,0,0,17,0,0,17,0,0,0,0,17,0,0,17,0,0,17,0,0,17,0,17,0,0,17,0,0,17,0,0,17,13,4,0,0,17,0,3,0,14,0,17,0,0,17,0,6,11,0,0,0,0,0,1,0,0,0,12,0,4
1,51534210,17,0,0,0,0,17,0,0,0,0,1,0,16,0,0,0,0,0,0,16,1,0,17,0,0,0,17,0,1,0,16,0,0,0,0,0,17,0,1,1,2,13,0,17,0,0,17,0,0,17,0,0,0,0,17,0,0,17,0,0,17,0,0,17,0,17,0,0,17,0,0,17,0,0,17,15,2,0,0,16,1,0,0,17,0,16,1,0,16,1,0,17,0,0,0,0,0,0,0,0,1,14,0,2
2,51534377,5,0,0,0,0,5,0,0,0,0,0,0,3,0,2,0,0,0,0,3,2,0,5,0,0,1,2,2,2,0,3,0,0,0,0,0,5,2,0,1,1,1,0,5,0,0,5,0,0,5,0,0,0,0,5,0,0,5,0,0,5,1,0,4,0,5,0,1,4,0,1,4,0,0,5,2,3,0,1,4,0,1,0,4,1,4,0,1,4,0,0,5,0,0,0,0,0,0,0,0,0,2,0,3
3,51534467,4,0,0,0,0,4,0,0,0,0,2,0,0,1,1,0,0,0,0,2,2,0,4,0,0,0,4,0,3,0,1,0,0,0,0,0,4,0,0,3,0,1,0,4,0,0,4,0,0,4,0,0,0,0,4,0,0,4,0,0,4,0,0,4,0,4,0,0,4,0,0,4,0,0,4,0,4,0,1,3,0,4,0,0,1,3,0,1,3,0,0,4,0,0,0,0,0,0,0,0,0,0,0,4
4,51534573,27,0,0,0,0,27,0,0,0,0,11,0,7,1,5,0,3,0,0,18,9,0,27,0,0,13,14,0,24,0,3,0,0,0,0,0,27,0,2,3,0,22,0,27,0,0,27,0,0,27,0,0,0,0,27,0,0,27,0,0,27,13,0,14,0,27,0,0,27,0,0,27,0,0,27,16,11,0,0,23,4,9,0,18,0,23,4,0,23,4,8,19,0,0,0,0,0,0,0,0,0,15,0,12

In [10]:
df_continuous.head()

,application_id,account_amt_credit_limit_sum,account_amt_credit_limit_min,account_amt_credit_limit_max,account_amt_credit_limit_mean,account_amt_ensured_amt_sum,account_amt_ensured_amt_min,account_amt_ensured_amt_max,account_amt_ensured_amt_mean,coborrower_solidary_num_sum,coborrower_solidary_num_min,coborrower_solidary_num_max,coborrower_solidary_num_mean,paymnt_condition_principal_terms_amt_sum,paymnt_condition_principal_terms_amt_min,paymnt_condition_principal_terms_amt_max,paymnt_condition_principal_terms_amt_mean,paymnt_condition_interest_terms_amt_sum,paymnt_condition_interest_terms_amt_min,paymnt_condition_interest_terms_amt_max,paymnt_condition_interest_terms_amt_mean,paymnt_condition_min_paymt_sum,paymnt_condition_min_paymt_min,paymnt_condition_min_paymt_max,paymnt_condition_min_paymt_mean,overall_val_credit_total_amt_sum,overall_val_credit_total_amt_min,overall_val_credit_total_amt_max,overall_val_credit_total_amt_mean,overall_val_credit_total_monetary_amt_sum,overall_val_credit_total_monetary_amt_min,overall_val_credit_total_monetary_amt_max,overall_val_credit_total_monetary_amt_mean,month_aver_paymt_aver_paymt_amt_sum,month_aver_paymt_aver_paymt_amt_min,month_aver_paymt_aver_paymt_amt_max,month_aver_paymt_aver_paymt_amt_mean,collat_insured_insur_limit_sum,collat_insured_insur_limit_min,collat_insured_insur_limit_max,collat_insured_insur_limit_mean,collat_repay_amt_sum,collat_repay_amt_min,collat_repay_amt_max,collat_repay_amt_mean,arrear_start_amt_outstanding_sum,arrear_start_amt_outstanding_min,arrear_start_amt_outstanding_max,arrear_start_amt_outstanding_mean,arrear_amt_outstanding_sum,arrear_amt_outstanding_min,arrear_amt_outstanding_max,arrear_amt_outstanding_mean,arrear_principal_outstanding_sum,arrear_principal_outstanding_min,arrear_principal_outstanding_max,arrear_principal_outstanding_mean,arrear_int_outstanding_sum,arrear_int_outstanding_min,arrear_int_outstanding_max,arrear_int_outstanding_mean,arrear_other_amt_outstanding_sum,arrear_other_amt_outstanding_min,arrear_other_amt_outstanding_max,arrear_other_amt_outstanding_mean,due_arrear_amt_outstanding_sum,due_arrear_amt_outstanding_min,due_arrear_amt_outstanding_max,due_arrear_amt_outstanding_mean,due_arrear_principal_outstanding_sum,due_arrear_principal_outstanding_min,due_arrear_principal_outstanding_max,due_arrear_principal_outstanding_mean,due_arrear_int_outstanding_sum,due_arrear_int_outstanding_min,due_arrear_int_outstanding_max,due_arrear_int_outstanding_mean,due_arrear_other_amtoutstanding_sum,due_arrear_other_amtoutstanding_min,due_arrear_other_amtoutstanding_max,due_arrear_other_amtoutstanding_mean,past_due_amt_past_due_sum,past_due_amt_past_due_min,past_due_amt_past_due_max,past_due_amt_past_due_mean,past_due_principal_amt_past_due_sum,past_due_principal_amt_past_due_min,past_due_principal_amt_past_due_max,past_due_principal_amt_past_due_mean,past_due_int_amt_past_due_sum,past_due_int_amt_past_due_min,past_due_int_amt_past_due_max,past_due_int_amt_past_due_mean,past_due_other_amt_past_due_sum,past_due_other_amt_past_due_min,past_due_other_amt_past_due_max,past_due_other_amt_past_due_mean,delay5_sum,delay5_min,delay5_max,delay5_mean,delay30_sum,delay30_min,delay30_max,delay30_mean,delay60_sum,delay60_min,delay60_max,delay60_mean,delay90_sum,delay90_min,delay90_max,delay90_mean,delay_more_sum,delay_more_min,delay_more_max,delay_more_mean,cred_max_overdue_sum,cred_max_overdue_min,cred_max_overdue_max,cred_max_overdue_mean
0,51534101,497458.61,2000.0,152095.81,29262.271176,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,13756.48,0.00,8000.00,809.204706,2561.56,162.63,1984.00,640.390000,0.0,NaN,NaN,NaN,4406.856,19.621,365.000,259.226824,318825.43,420.00,108315.54,18754.437059,27280.00,0.0,9984.0,1604.705882,0.0,NaN,NaN,NaN,0.0,NaN,NaN,NaN,497458.61,2000.0,152095.81,29262.271176,358709.67,0.00,136750.05,21100.568824,327508.54,0.00,128583.29,19265.208235,30413.31,0.0,10205.87,1789.018235,787.82,0.0,479.68,46.342353,358054.39,0.00,136463.08,21062.022941,327508.54,0.00,128583.29,19265.208235,29758.03,0.0,10205.87,1750.472353,787.82,0.0,479.68,46.342353,655.28,0.0,368.31,38.545882,0.00,0.0,0.00,0.000000,655.28,0.0,368.31,43.685333,0.00,0.0,0.00,0.000000,10,0,5,0.588235,12,0,6,0.705882,3,0,2,0.176471,2,0,1,0.117647,4,0,3,0.235294,27536.33,0.0,12680.70,1619.784118
1,51534210,93629.00,2000.0,13429.00,5507.588235,0.0,NaN,NaN,NaN,0.0,NaN,NaN,NaN,14596.79,0.00,10800.00,858.634706,12498.08,1.90,10128.18,3124.520000,0.0,NaN,NaN,NaN,5396.789,0.000,365.000,317.458176,32310.84,0.00,20128.18,1900.637647,54942.00,0.0,12268.0,3433.875000,0.0,NaN,NaN,NaN,0.0,NaN,NaN,NaN,93629.00,2000.0,13429.00,5507.588235,13780.51,0.00,12268.00,810.618235,12205.03,0.00,10800.00,717.942941,1575.48,0.0,1468.00,92.675294,0.00,0.0,0.00,0.000000,13780.51,0.00,12268.00,810.618235,12205.03,0.00,10800.00,717.942941,1575.48,0.0,1468.00,92.675294,0.00,0.0,0.00,0.000000,0.00,0.0,0.00,0.000000,0.00,0.0,0.00,0.000000,0.00,0.0,0.00,0.000000,0.00,0.0,0.00,0.000000,1,0,1,0.058824,2,0,2,0.117647,0,0,0,0.000000,0,0,0,0.000000,0,0,0,0.000000,10000.00,0.0,10000.00,588.235294
2,51534377,73000.00,0.0,56000.00,14600.000000,0.0,NaN,NaN,NaN,0.0,NaN,NaN,NaN,20855.64,3855.64,7000.00,5213.910000,2206.10,0.00,1680.00,551.525000,0.0,NaN,NaN,NaN,1073.291,15.000,365.000,214.658200,195858.00,840.00,192078.00,48964.500000,15437.00,0.0,7056.0,3859.250000,0.0,NaN,NaN,NaN,0.0,NaN,NaN,NaN,75937.00,2937.0,56000.00,15187.400000,15437.74,0.00,7056.00,3087.548000,14855.64,0.00,7000.00,2971.128000,323.46,0.0,267.46,64.692000,258.64,0.0,258.64,51.728000,11056.00,0.00,7056.00,2211.200000,11000.00,0.00,7000.00,2750.000000,56.00,0.0,56.00,14.000000,0.00,0.0,0.00,0.000000,4381.74,0.0,4381.74,876.348000,3855.64,0.0,3855.64,1285.213333,267.46,0.0,267.46,89.153333,258.64,0.0,258.64,86.213333,0,0,0,0.000000,0,0,0,0.000000,0,0,0,0.000000,0,0,0,0.000000,2,0,2,0.400000,3855.64,0.0,3855.64,771.128000
3,51534467,149726.58,15000.0,68427.58,37431.645000,0.0,NaN,NaN,NaN,0.0,NaN,NaN,NaN,3332.30,0.00,2762.58,833.075000,2907.41,478.13,1728.71,969.136667,0.0,NaN,NaN,NaN,106.128,8.133,50.969,26.532000,677974.18,5663.63,656488.00,169493.545000,6236.00,0.0,3238.0,1559.000000,0.0,NaN,NaN,NaN,0.0,NaN,NaN,NaN,134826.58,100.0,68427.58,33706.645000,116755.02,6092.89,52048.11,29188.755000,114999.01,6092.89,51299.00,28749.752500,749.11,0.0,749.11,187.277500,1006.90,0.0,1006.90,251.725000,116755.02,6092.89,52048.11,29188.755000,114999.01,6092.89,51299.00,28749.752500,749.11,0.0,749.11,187.277500,1006.90,0.0,1006.90,251.725000,0.00,0.0,0.00,0.000000,0.00,NaN,NaN,NaN,0.00,NaN,NaN,NaN,0.00,NaN,NaN,NaN,1,0,1,0.250000,0,0,0,0.000000,0,0,0,0.000000,0,0,0,0.000000,0,0,0,0.000000,2532.63,0.0,2532.63,633.157500
4,51534573,1104663.38,0.0,287356.00,40913.458519,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,33239.79,0.00,15000.00,2374.270714,21329.38,544.23,9000.00,3047.054286,0.0,NaN,NaN,NaN,1403.328,0.000,292.000,56.133120,672368.92,0.00,503546.00,51720.686154,60265.28,0.0,16824.0,4304.662857,0.0,NaN,NaN,NaN,0.0,NaN,NaN,NaN,1029935.12,0.0,287356.00,39612.889231,345045.81,0.00,108309.42,13270.992692,332274.39,0.00,99250.00,12779.784231,12113.23,0.0,9059.42,484.529200,658.19,0.0,658.19,26.327600,345045.81,0.00,108309.42,12779.474444,332274.39,0.00,99250.00,12779.784231,12113.23,0.0,9059.42,484.529200,658.19,0.0,658.19,26.327600,0.00,0.0,0.00,0.000000,0.00,0.0,0.00,0.000000,0.00,0.0,0.00,0.000000,0.00,0.0,0.00,0.000000,37,0,9,1.370370,46,0,22,1.703704,4,0,2,0.148148,2,0,2,0.074074,1,0,1,0.037037,40009.43,0.0,15428.00,1481.830741

In [13]:
df_application_id.sort_values(by='application_count', ascending=False).head()

       application_id  application_count
29568        53123153                492
9813         52175920                383
27907        53031443                346
14451        52423025                313
3504         51787828                309

In [1]:
# df_bki[(df_bki['application_id'] == 51871261)]['reporting_dt'].value_counts()

In [ ]:
# df_target['target'].value_counts(dropna=False)

In [ ]:
# df_bki['client_id'].value_counts()

In [ ]:
# df_bki['application_id'].value_counts()

In [ ]:
df_test = pd.get_dummies(df_bki.loc[(df_bki['application_id'] == 53123153) | (df_bki['application_id'] == 52175920)][['application_id', 'trade_acct_type1', 'trade_loan_kind_code']], columns=['trade_acct_type1', 'trade_loan_kind_code'], dtype=int)

In [ ]:
# df_test

In [ ]:
df_test.groupby(['application_id']).sum()

,trade_acct_type1_1.0,trade_acct_type1_4.7,trade_acct_type1_8.0,trade_acct_type1_9.0,trade_acct_type1_14.0,trade_acct_type1_15.0,trade_acct_type1_19.0,trade_acct_type1_99.0,trade_loan_kind_code_1.0,trade_loan_kind_code_2.0,trade_loan_kind_code_3.0,trade_loan_kind_code_4.0,trade_loan_kind_code_5.0,trade_loan_kind_code_7.0,trade_loan_kind_code_99.0
application_id,,,,,,,,,,,,,,,
52175920,2,1,6,1,1,2,311,59,3,1,366,2,7,3,1
53123153,1,0,0,0,1,2,476,12,2,0,485,0,5,0,0

In [ ]:
# df_bki['trade_opened_dt'].value_counts().sort_index(ascending=True)

In [ ]:
df_bki['reporting_dt'].value_counts().sort_index(ascending=True)

reporting_dt
2023-07-19      959
2023-07-20     5360
2023-07-21     5230
2023-07-22     5309
2023-07-23     5747
2023-07-24     6510
2023-07-25     5019
2023-07-26     4607
2023-07-28     5420
2023-07-29     6254
2023-07-30     6039
2023-07-31     7319
2023-08-01     6102
2023-08-02     5139
2023-08-03     5860
2023-08-04     5151
2023-08-05     4793
2023-08-06     6231
2023-08-07     6924
2023-08-08     5785
2023-08-09     5996
2023-08-10     5671
2023-08-11     5203
2023-08-12     6768
2023-08-13     7343
2023-08-14     5993
2023-08-15     6748
2023-08-16     6627
2023-08-17     8356
2023-08-18    10381
2023-08-19    10043
2023-08-20    11882
2023-08-21     8321
2023-08-22     8267
2023-08-23    13974
2023-08-24    10790
2023-08-25    10870
2023-08-26    10682
2023-08-27    12030
2023-08-28     9679
2023-08-29    11101
2023-08-30    12693
2023-08-31    11260
2023-09-01    10007
2023-09-02     9573
2023-09-03     7918
2023-09-04    10764
2023-09-05    10460
2023-09-06     9479
2023-09-07     9210
2023-09-08     9545
2023-09-09     9095
2023-09-10     9234
2023-09-11    10800
2023-09-12    10477
2023-09-13    10869
2023-09-14     8731
2023-09-15     9459
2023-09-16     8906
2023-09-17     6372
Name: count, dtype: int64

In [ ]:
# df_bki[(df_bki['application_id'] == 53123153)]['trade_opened_dt'].value_counts().sort_index(ascending=True)

In [ ]:
# df_bki[(df_bki['application_id'] == 53123153)]['trade_close_dt'].value_counts().sort_index(ascending=True)

In [ ]:
df_bki[(df_bki['application_id'] == 53123153)][['trade_opened_dt', 'trade_close_dt']].sort_values('trade_opened_dt').head()

       trade_opened_dt trade_close_dt
282915      2013-04-11     2018-08-08
246354      2013-12-25     2018-08-06
257865      2014-05-06     2018-05-06
253527      2014-07-04            NaN
253487      2018-05-15     2018-06-04

In [ ]:
df_test1 = pd.pivot_table(df_bki[['application_id', 'account_amt_credit_limit', 'trade_loan_kind_code']], values=['account_amt_credit_limit'], index=['application_id'], columns=['trade_loan_kind_code'], aggfunc='sum')

In [ ]:
df_test1 = df_test1.fillna(0.0)

In [ ]:
df_test1.head()

                     account_amt_credit_limit                           \
trade_loan_kind_code                     1.0  2.0        3.0      4.0
application_id
51534101                            387063.66  0.0  110394.95      0.0
51534210                              5300.00  0.0   88329.00      0.0
51534377                                 0.00  0.0   17000.00      0.0
51534467                            119726.58  0.0       0.00  15000.0
51534573                            497962.00  0.0  211845.38  16856.0


trade_loan_kind_code      5.0  6.0       7.0  99.0
application_id
51534101                   0.0  0.0       0.0  0.0
51534210                   0.0  0.0       0.0  0.0
51534377               56000.0  0.0       0.0  0.0
51534467               15000.0  0.0       0.0  0.0
51534573              188000.0  0.0  190000.0  0.0

In [ ]:
df_test1.loc[53123153]

                          trade_loan_kind_code
account_amt_credit_limit  1.0                      799000.00
                          2.0                           0.00
                          3.0                     7899652.09
                          4.0                           0.00
                          5.0                      270000.10
                          6.0                           0.00
                          7.0                           0.00
                          99.0                          0.00
Name: 53123153, dtype: float64

In [ ]:
df_test2 = pd.pivot_table(df_bki[['application_id', 'account_amt_credit_limit', 'trade_loan_kind_code']], values=['account_amt_credit_limit'], index=['application_id'], columns=['trade_loan_kind_code'], aggfunc='mean')

In [ ]:
df_test2 = df_test2.fillna(0.0)

In [ ]:
df_test2.head()

                     account_amt_credit_limit                              \
trade_loan_kind_code                     1.0  2.0           3.0      4.0
application_id
51534101                        129021.220000  0.0   7885.353571      0.0
51534210                          5300.000000  0.0   5520.562500      0.0
51534377                             0.000000  0.0   5666.666667      0.0
51534467                         59863.290000  0.0      0.000000  15000.0
51534573                         45269.272727  0.0  30263.625714  16856.0


trade_loan_kind_code     5.0  6.0           7.0  99.0
application_id
51534101                  0.0  0.0      0.000000  0.0
51534210                  0.0  0.0      0.000000  0.0
51534377              28000.0  0.0      0.000000  0.0
51534467              15000.0  0.0      0.000000  0.0
51534573              37600.0  0.0  63333.333333  0.0